{% extends 'base.html.twig' %}

{% block title %}Josh Blog  !
{% endblock %}


{% block body %}

<div class="text-center"> <!-- Pour centrer le contenu -->
  <strong class="text-danger">{{ messages|length }} message(s) retrouvé(s)</strong>
</div>

	{% for message in messages|reverse %}
   
<main class="container-md border mt-4 custom-margin-left">
    {# <div class="bg-light p-5 rounded"> #}
       {# <div class="article-image h-10 w-full"> #}
    {# <img src="/assets/images/{{ message.imageMessage }}" alt="Image de l'article: {{ message.title }}" class="img-fluid"> #}
{# </div> #}

        {# <div class="article-createdAt"> #}
            {# {{ message.fromNaw }} #}
        {# </div>
        <h1>{{ message.title }}</h1>
        <p class="lead">{{ message.content | raw }}</p>
    </div> #}
 <div class="list-group">
    <a href="#" class="list-group-item list-group-item-action">
        <img src="chemin/vers/votre/image.jpg" alt="Image de couverture" class="img-cover">
        <div class="d-flex w-100 justify-content-between">
            <h1>{{ message.title }}</h1>
            <small>{{ message.fromNaw }}</small>
        </div>
         <p class="lead">{{ message.content | raw }}</p>
    </a>
</div>

</main>

{% endfor %}



  
	

{% endblock %}
