{% extends 'base.html.twig' %}

{% block title %}Josh Blog  !
{% endblock %}


{% block body %}

<div class="text-center"> <!-- Pour centrer le contenu -->
  <strong class="text-danger">{{ messages|length }} message(s) retrouvé(s)</strong>
</div>

	{% for message in messages|reverse %}
   
<main class="container-md mt-4 margin-left">
 <div class="list-group">
    <a href="#" class="list-group-item list-group-item-action">
        <img src="/_assets/images/{{ message.imageCover }}" alt="Image de l'article: {{ message.title }}" class="img-fluid wh">
        <div class="d-flex w-100 justify-content-between">
            <h1>{{ message.title }}</h1>
            <small>{{ message.fromNaw }}</small>
        </div>
         <p class="lead">{{ message.content | raw }}</p>
    </a>
</div>

</main>

{% endfor %}



  
	

{% endblock %}
